@charset 'utf8';

table, tr, th, td{
    border: solid 1px;
}

h1, h2, table {
    margin:20px auto;
    width: 50%;
    text-align: center;
}

select#gender {
    width: 183px;
    margin: 0 auto;
    display: block;
}

span#count {
    display: block;
    width: 5%;
    margin: 0 auto;
    margin-top: 19px;
}